# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches:
      - master
      - release/5.0.x
  pull_request:
    branches:
      - master
      - release/5.0.x

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.5.3
    - name: Set up cache
      uses: actions/cache@v3.3.1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: 8
        distribution: adopt
        cache: maven
        server-id: struts2-bootstrap.snapshots
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    - name: Build
      run: mvn package
    - name: Deploy SNAPSHOT
      if: github.ref == 'refs/heads/release/5.0.x'
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      run: mvn -B -V -DskipTests=true deploy --no-transfer-progress
  automerge:
    if: github.event_name == 'pull_request' && github.actor == 'renovate[bot]'
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Apply automerge label
        run: gh pr edit "$PR_URL" --add-label "automerge"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
      - name: Automerge
        run: gh pr merge --auto -m "$PR_URL"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
